.outer {
  width:100%
}
.detail {
  margin-top:100px;
}

.link{
  color:black;
}

.card{
  background-color: #F0F0F0;
  border-radius: 5px;
  border: 1px solid #e8e7e7;
  border-radius: 1em;
  width: 700px;
  display: table;
  margin: 0 auto;
}

.card-detail{
  background-color: #F0F0F0;
  border-radius: 5px;
  border: 1px solid #e8e7e7;
  border-radius: 1em;
  width: 700px;
  display: table;
  margin: 0 auto;
  background-color: white;
}
.activity{
  background-color: #F0F0F0;
  border-radius: 5px;
  border: 1px solid #e8e7e7;
  margin-top: 10px;
  border-radius: 1em;
  margin: 0 auto;
  width:50em
}

.actions{
  margin-top:5px;
  margin-right:10px;
  border-top: 1px solid #e8e7e7;
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  color: gray;
  font-weight: bold;
}

.headline{
  display: block;
  padding: 1em;
  font-weight: 600;
  background-color: #d2beed;
  border-radius: 1em 1em 0 0 ;
  color: 	#505050
}

.title{

  font-size: 20px;
}

.category{
  font-weight:400;
}


.down{
  display: block;
  padding: 1em;
  font-weight: 600;
  background-color: #d2beed;
  color: 	#505050
}

.down div {
  display: flex;
  flex-direction: row;
}


.user{
  display: block;
  padding: 1em;
  background-color: #d2beed;
  border-radius: 0 0 1em 1em;
  height: 80px;
}

.likes{
  display: block;
  padding: 1em;
  background-color: #d2beed;
  border-radius: 0 0 1em 1em;
}

.created-at{
  margin-left: 8px;
  font-size: 10pt;
}

.n-card-img{
  width: 100%;
  height: 100%;
}

.n-card-img-heart{
  width: 17px;
  height: 17px;
}

.n-card-img-comment{
  width: 16px;
  height: 16px;
}

.btn-actions{
  background-color: transparent;
  border-color: transparent;
  float:right;
  cursor:pointer;
  color: gray;
  font-weight: bold;

}

.btn-actions-post{
  background-color: transparent;
  border-color: transparent;
  cursor:pointer;
  color: gray;
  font-weight: bold;
  margin-right: 20px;
}

.post-comment{
  display: flex; 
  flex-direction: row; 
  margin-bottom: 35px;
}

.post-comment-data {
  padding-left: 20px;
}

.post-comment-data p {
  margin-bottom: 0px;
}


.buttons{
  padding-top: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left-align{
  text-align:right;
}